<%= turbo_frame_tag Section.new do %>
  <div class="mt-6">
    <div class="p-6 border border-gray-200 rounded-lg">
      <%= render "form", section: @section, course: @course %>
    </div>
  </div>
<% end %>
