<%= turbo_frame_tag lecture do %>
  <div class="p-4 border border-gray-200 rounded-lg bg-white">
    <div class="flex items-center justify-between">
      <span class="font-medium">
        <%= lecture.name %>
      </span>
    </div>
  </div>
<% end %>
