<%= turbo_frame_tag lecture do %>
  <div class="p-4 border border-gray-200 rounded-lg bg-white">
    <div class="flex items-center justify-between">
      <span class="font-medium">
        <%= lecture.name %>
      </span>
      <div class="flex items-center gap-2">
        <%= link_to "編集", edit_admin_lecture_path(lecture), class: "rounded-md px-3 py-1.5 bg-gray-200 hover:bg-gray-300 text-sm font-medium" %>
      </div>
    </div>
  </div>
<% end %>
